*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFDE59
}
/* main{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
img{
    border-radius: 10px;
    margin:0.5rem;
    overflow: hidden;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.7);
}
#recipe-result-container{
    border-radius: 10px;
    margin:0.5rem;
    overflow: hidden;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.7);

}
h3{
    font-family: fantasy;
}