*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #c15747
}
img{
    border-radius: 10px;
    margin:0.5rem;
    overflow: hidden;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.7);
}
#recipe-result-container{
    border-radius: 10px;
    margin:0.5rem;
    overflow: hidden;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.7);
}
.btn-light-grey {
    background-color: #e0e0e0; /* Light grey color */
    color: #333;
}
.btn-light-grey:hover {
    background-color: #c0c0c0; /* Light grey color */
    color: #333;
}
.btn-light-red{
    background-color: #FF5758;
    color:white;
}
.btn-light-red:hover{
    background-color: #E04D4D;
    color:white;
}